.col-4 {
margin-top: 1%;
border: 1px solid gray;
border-bottom: 3em;
}

.banner1 {
  width:140%;
}
.logo {
  width: 100%;
  border-bottom: 1px solid black;
  border-top: none;
}

.banner3 {
  width: 140%;
}

.border-carro {
  border-right: none;
  border-top:none;
  border-bottom: 1px solid black;
}
.bar {
  border-top: none;
  border-bottom: 1px solid black;
  border-left: none;
}

.container-despacho {
  font-size: 20px;
  color: #d5d5d5;
  font-weight: lighter;
  width: 100%;
  text-align: center;
  margin-top:4em;
}

.despachotext {
  color: #d5d5d5;
  padding-top: 1em;
  margin-bottom: -0.7em;
}
.linea1 {
  width:100%;
}
hr {
  background-color: #d5d5d5;
  width:80%;
  padding: 0.02em;
}

.oferta {
  color:#294f94;
  font-size: 1.5em;
  letter-spacing: 0.1em;
}
i {
  letter-spacing: 1.2em;
}
h1{
  color:#db262f;
  padding-top: -0.4em;
}

h3 {
  padding-top: 0.7em;
}
.border-oferta {
  width:50%;
  background-color: #db262f;
  padding: 0.05em;
  margin-top: -0.2em;
}

.lorem-text {
  color:#019a3c;
}
.verde {
  color:#1ca04e;
  font-size: 1.3em;
  font-weight: bold;
  margin-bottom:3.5em;
}
.verde2 {
  color:#1ca04e;
  font-size: 0.9em;
  font-weight: bold;
}
.flecha {
  color:#1ca04e;
  font-size: 0.9em;
  font-weight: bold;
  margin-left:0.5em;
}

.texto-oferta {
  text-align: center;
  color: #294f94;
  font-size: 1.5em;
  font-weight: bold;
  margin-top: 2em;
}
.doslineas {
  width:100%;
}
/*SLIDER*/
.producto {
  font-size: 0.9em;
  border: 1px solid #e8e9ec;
  width:100%;
}

.img-producto{
  border-bottom: 1px solid #e8e9ec;
}

button {
  width:100%;
  align-items: center;
  color:#1ca04e;
}

.nombre {
  color:#1ca04e;

}

.detalles {
  color: #a09ea0;
  font-size: 0.9em;
  padding-top: -4em;
}

.stock {
color:gray;
font-size: 0.8em;
font-weight: bold;
}

.sku{
  color:gray;
  font-size: 0.8em;
  text-transform:uppercase;
  font-weight: bold;
}
.precio {
  color:red;
  font-size: 0.8em;
}

.numero {
  color:red;
  font-size: 0.8em;
}
.botonverde1 {
  width:100%;
}
.cuadrados {
  margin-top: 3em;
}
.col1{
  color:white;
  font-weight: bold;
  background-color: #82c2dc;
}

.icon {
  height: 60px;
  width: 60px;
}
.col2 {
  color:white;
  font-weight: bold;
  background-color: #59b2da;
}

.col3 {
  color:white;
  font-weight: bold;
  background-color: #1b9fd7;
}

.col4 {
  color:white;
  font-weight: bold;
  background-color: #2773b4;
}

.col5 {
  color:white;
  font-weight: bold;
  padding:2em;
  background-color: #0c5c91;
}

.icon5 {
  width:50px;
  height:40px;
}
.botellas {
  background: url(style/img/botellas2.jpg);
  width: 100%;
  background-repeat: no-repeat;
  padding-bottom: 5.9em;
}

.texto-botellas1 {
  padding-top: 4em;
  font-size: 1.5em;
  color:white;
}

.texto-botellas2 {
  margin-top:-0.5em;
  font-size: 1.5em;
  color:white;
  font-weight: bold;
}

.lineablanca {
  margin-top: -3.3em;
}
.lorem-chico {
  margin-top: -2.5em;
  color:white;
  font-size: 0.8em;
}

.boton-botella {
  color:white;
  width:50%;
}

.precios{
  text-align: center;
  margin-top: 1.3em;
  font-size: 1.4em;
  color:white;
  background-color:rgba(58,86,140,0.9);
}


#nav-home-tab {
  border:none;
  color:black;
}

#nav-profile-tab {
  border:none;
  color:black;

}

#nav-contact-tab {
  border:none;
  color:black;
}

/*FOOTER*/

.lista {
  color:white;
  background-color:#091a3c;
  line-height: 3em;
  margin-top: -5em;
}
 ul.lista1 li {
   border-bottom: 1px solid #3A4863 ;
   padding-bottom: 1em;
   padding-top: 1em;
   width:20em;
 }

 ul.lista1 li:last-child {
   border-bottom:none;
 }

ul.lista2 li {
  border-bottom: 1px solid #3A4863;
  padding-bottom: 1em;
  padding-top: 1em;
  width:20em;
}

ul.lista2 li:last-child {
  border-bottom:none;
}

ul.lista3 li  {
  font-weight: bold;
  font-size: 0.9em;
  border-bottom: 1px solid #3A4863;
  width:22em;
}

ul.follow {
  font-weight: bold;
    border-bottom: 1px solid #ced1d8;
    padding-bottom: 1em;
    margin-left: 2em;
    width: 20em;
}
.icon2 {
  width:35px;
  height:35px;
  margin-right: 10px;
}

.lista4 {
  background-color: #091a3c;
}

.follow {
font-weight: bold;
}

.redes {
  margin: 1em;
}


.footer {
  background-color:#294f94;
  color:white;
}

  /*SLIDER*/

html, body {
      margin: 0;
      padding: 0;
    }

    * {
      box-sizing: border-box;
    }

    .slider {
        width: 100%;
        margin: 100px auto;
    }

    .slick-slide {
      margin: 2px;
    }

    .slick-slide img {
      width: 100%;
      text-align:center;
    }

    .slick-prev:before,
    .slick-next:before {
      color: black;
    }


    .slick-slide {
      transition: all ease-in-out .3s;
    }

    .slick-active {
    }

    .slick-current {
      opacity: 1;
    }
  .slick-current {
    opacity: 1;
  }

  #myform {
    padding: 10px;
    margin-top: -1em;
}
.qty {
  width:100%;
}
input.qtyplus {
  font-size: 1.2em;
  color: #4875ae;
}

input.qtyminus {
font-size: 1.2em;
color: #4875ae;

}

input.qty {
  font-size: 1.2em;
  color: #4875ae;

}

.borde1 {
  border: 1px solid #e8e9ec;
}
.borde2 {
  border: 1px solid #e8e9ec;
}
.borde3 {
  border: 1px solid #e8e9ec;
}
.btn-success {
  margin-bottom: 1em;
  margin-top: 1em;
}




/*PAGINA ABARROTES*/
.abarrotes {
  width:100%;
}

ol.breadcrumb {
  background-color: white;
  font-size: 0.7em;
}

li.breadcrumb-item a {
  color:#2a50aa;
}

li.breadcrumb-item.active {
  color:#de2630;
}

.boton-filtrar {
  margin-top: -1.5em;
  width:100%;
  background-color: #294f96;
  color:#d4dbe9;
}
.levels {
  width:30px;
  height:30px;
  margin-right: 5em;
}

.flecha-abajo {
  position: relative;
  width:30px;
  height:30px;
  margin-left: 3em;
}
.searchTerm {
  margin-top: 2em;
  font-size: 0.8em;
  border: 1px solid gray;
  width:100%;
  opacity: 0.5;
}

.wrap{
  width: 80%;
}

.arroz {
  font-size: 1.5em;
  color:#294f96;
  margin-top: 1.5em;
}
.linea-azul {
  width:100%;
  margin-top:-3em;
}

.precomendados {
  color:white;
  background-color: #294f96;
  position:relative;
  margin-right: 0;
  margin-left:0;
}
